<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<!--@thymesVar id="model" type="techsmiths.myface.models.viewmodels.AllPostsViewModel"-->
<head>
    <title>MyFace</title>
    <link rel="stylesheet" href="/style/css/navbar.css"/>
    <link rel="stylesheet" href="/style/css/general.css"/>
    <link rel="stylesheet" href="/style/css/post.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header class="sticky-nav">
    <nav th:replace="fragments/navbar :: navbar"></nav>
</header>
<section>
    <ol class="post-list">
        <li th:each="post : ${model.getPosts()}" class="post">
            <div class="user-name-line">
                <a th:href="'/users/'+${post.getSender().getId()}" th:text="${post.getSender().getDisplayName()}"
                   class="user-name"></a>
                <svg class="user-name" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                    <path d="M8 5v14l11-7z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
                <a th:href="'/users/'+${post.getReceiver().getId()}" th:text="${post.getReceiver().getDisplayName()}"
                   class="user-name"></a>
            </div>
            <p th:text="${post.getMessage()}" class="description"></p>
            <img class="post-image" th:src="${post.getImage()}" alt="Post Image"></img>
        </li>
    </ol>
</section>

<a class="create-link" href="/posts/create">+</a>
</body>
</html>