<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--@thymesVar id="model" type="techsmiths.myface.models.viewmodels.AllUsersViewModel"-->
<head>
    <title>MyFace</title>
    <link rel="stylesheet" href="/style/css/navbar.css"/>
    <link rel="stylesheet" href="/style/css/general.css"/>
    <link rel="stylesheet" href="/style/css/post.css"/>
</head>

<body>
<header>
    <div th:replace="fragments/navbar :: navbar"/>
</header>

<h1>All Users Page</h1>
<section>
    <ol>
        <li th:each="user : ${model.getUsers()}">
            <h2 th:text="${'Username: ' + user.getUsername()}"></h2>
            <a th:href="'/users/' + ${user.getId()}">Edit user</a>
            <br>
            <img th:src="${user.getProfileImage()}" alt="User Profile Image"></img>
            <p th:text="${'First Name:' + user.getFirstName()}"></p>
            <p th:text="${'LastName: ' + user.getLastName()}"></p>
            <p th:text="${'Email: ' + user.getEmail()}"></p>
            <img th:src="${user.getBannerImage()}" alt="User Banner Image"></img><br>
            <hr/>
        </li>

    </ol>
</section>
</body>
</html>