<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--@thymesVar id="model" type="techsmiths.myface.models.viewmodels.UserViewModel"-->
<head>
    <title>MyFace</title>
    <link rel="stylesheet" href="/style/css/navbar.css"/>
    <link rel="stylesheet" href="/style/css/general.css"/>
    <link rel="stylesheet" href="/style/css/post.css"/>
    <link rel="stylesheet" href="/style/css/user.css"/>
    <link rel="stylesheet" href="/style/css/edit-user.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
    <div th:replace="fragments/navbar :: navbar"/>
</header>
<section>
    <div class="user">
        <form th:action="'/users/' + ${model.getId()}" method="post">
            <img class="banner-image" th:src="${model.getBannerImage()}" alt="User Banner Image"></img>
            <input placeholder="Banner image url" class="edit-banner-image" type="text" id="banner_image"
                   name="bannerImage"
                   th:value="${model.getBannerImage()}"><br>

            <img class="profile-image" th:src="${model.getProfileImage()}" alt="User Profile Image"></img>
            <input placeholder="Profile image url" class="edit-profile-image" type="text" id="profile_image"
                   name="profileImage"
                   th:value="${model.getProfileImage()}"><br>

            <div class="edit-name">
                <input placeholder="First name" class="edit-first-last-name" type="text" id="first_name"
                       name="firstName"
                       th:value="${model.getFirstName()}">
                <input placeholder="Last name" class="edit-first-last-name" type="text" id="last_name" name="lastName"
                       th:value="${model.getLastName()}">
            </div>
            <input placeholder="username" class="edit-user-name" type="text" id="username" name="username"
                   th:value="${model.getUsername()}">

            <input placeholder="Email" class="edit-email-text" type="text" id="email" name="email"
                   th:value="${model.getEmail()}"><br/>
            <input class="edit-submit" type="submit" value="Submit">
        </form>
    </div>
</section>
</body>
</html>