@import 'general';

$margin: 20px;
$new-post-button-size: 80px;






.post-list {
  @include gridList;
}

.user-name{
  font-weight: bold;
  line-height: 15px;
  margin-right: 5px;

  &:hover{
    color:$dark-grey-color;
  }
}

.description{
  margin: $margin;
}

.post-image {
@include imageScale;
  height: 600px;
  margin-bottom: $margin;
  background-color: grey;
}

.post{
 @include listItem;
}


.create-link {
  border-radius: 50%;
  width: $new-post-button-size;
  height: $new-post-button-size;
  background: $dark-grey-color;
  text-align: center;
  line-height: $new-post-button-size;
  color: white;
  font-weight: bold;
  font-size: 50px;

  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 5px 5px 20px grey;

  &:hover{
    background-color: grey;
  }
}

.user-name-line{
  display: flex;
  margin-left: 20px;
}

